@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  @Model.Name</h1>
    <form method="post">
        <label asp-for="FZ.Number"></label>
        <input asp-for="FZ.Number" class="form-control" placeholder="Podaj liczbę z zakresu 1-1000"><br />
        <b><span asp-validation-for="FZ.Number" class="text-danger"></span></b>
        <button type="submit" class="btn btn-primary mt-2">Zatwierdź</button>
    </form>
</div>

